# Ignored directories and files
/.phpunit.cache/
/bootstrap/cache/
/node_modules/
/public/build/
/public/hot
/public/storage
/storage/app/public
/storage/framework/
/storage/logs/
/vendor/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.env.production
.phpunit.result.cache

# Editor/IDE directories
.idea/
.vscode/
.fleet/
.zed/
.nova/

# System files
.DS_Store
Thumbs.db

# Miscellaneous
auth.json
*.log
.phpactor.json